    h1,h2 {
      color: rgb(255, 255, 255);  /* Example color */
    }

    
    /*This is for the code for the login/signup border*/
    form {
      width: auto ;
      margin: auto;
      border: 3px solid #f3d352;
      background-color: #5c6e93;
      padding: 10px;
      padding-right: 20px;
        /*This is for making border pixelated*/
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2),  /* Outer shadow */
      0 0 0 6px rgba(0, 0, 0, 0.1); /* Inner shadow */
      
    }
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #514545;
      flex-direction: column; /* To align the character boxes and button vertically */
      background-image: url("images/background.jpg");
      background-position-y:bottom;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      place-items: center;
    }

    .character-selection {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      gap: 20px;
    }

    .character {
      width: 200px;
      height: 200px;
      background-color: #000; /* Set the background color of the whole box to black */
      border: 5px solid #fff;
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    .character:hover {
      transform: scale(1.1);
    }

    .character-name {
      position: absolute;
      bottom: 5px;
      color: white;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      width: 100%;
      text-align: center;
    }



    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    font-size: 10px; /* Change value to scale */
    font-family: 'Press Start 2P', sans-serif;
    background-color: salmon;
    margin: 5;
    display: grid;
    height: 100vh;
    
    
}

.c-checkbox {
    display: none;
    
    &:checked + .c-formContainer {
        .c-form {
            width: 37.5em;
        }

        .c-form__toggle {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }

        .c-form__input,
        .c-form__buttonLabel {
            transition: 0.2s 0.1s;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    &:not(:checked),
    &:checked {
        + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
            content: 'Thank You! \1F60A';
        }
    }

    &:not(:checked) + .c-formContainer {
        .c-form__input:required:valid ~ .c-form__toggle {
            pointer-events: none;
            cursor: default;
        }
    }
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 6.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 0; /* Remove rounded edges for pixel look */
    background-color: rgb(0, 0, 0);
    transition: 0.2s;
}

.c-form {
    
    transform: translateX(-50%);
    transform: translateY(-160px);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: none; /* Remove shadow for simplicity */

    /* Position form inputs */
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: rgb(255, 255, 255);
    top: 0;
    cursor: pointer;
    z-index: 1;
    
    /* Position message */
    
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 3px solid rgb(255, 255, 255); /* Add thick border for pixel style */
    outline: 0;
    border-radius: 0; /* Remove rounded edges */
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: rgb(255, 255, 255);
    background-color: #000000; /* Add background color for input */
    height: 100%;
    width: 100%;
    padding: 0 0.714em;
    font-family: 'Press Start 2P', sans-serif; /* Use pixelated font */

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        color: rgb(255, 255, 255);

        + .c-form__buttonLabel {
            color: white;

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form__buttonLabel {
    color: black;
    height: 100%;
    width: auto;
    border: 3px solid black; /* Pixelated border for button */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', sans-serif;

    /* Accepts click events */
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.c-form__button {
    color: black;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', sans-serif;
    border-radius: 0; /* Pixelated button */
}

      /*This is for the code for the login/signup border*/

    /*Black pixelated button originally */
    .container {
      padding: 50px;
      margin: 50px;
      display: block;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    .pixel, .pixel2 {
      font-size: 25px;
      color: white;
      height: auto;
      margin: 10px;
      font-family: 'VT323';
      
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      
      cursor: pointer;
      
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    .pixel:active, .pixel2:active {
      top: 2px;
    }
    
    .pixel {
      line-height: 0;
      
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges; /* Firefox */
      image-rendering: -o-crisp-edges; /* Opera */
      image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
      
      border-style: solid;
      border-width: 20px;
      -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
      -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
      -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
      border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    }
    
    .pixel p {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: auto;
      text-align: center;
      margin: -20px -20px;
      line-height: 20px;
      padding: 10px 20px;
      
      background: #000000;
      background:
        linear-gradient(135deg, transparent 10px, #000000 0) top left,
        linear-gradient(225deg, transparent 10px, #000000 0) top right,
        linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
        linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
        radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
        radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
        radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
        radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
    }
    
    .pixel2 {
      position: relative;
      display: block;
      margin: 10px;
      font-family: 'VT323';
      text-transform: uppercase;
      font-size: 25px;
      color: white;
    }
    
    .pixel2::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: -10px;
      right: -10px;
      background: black;
      z-index: -1;
    }
    
    .pixel2::after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: -6px;
      right: -6px;
      background: black;
      z-index: -1;
    }
    
    .pixel2 {
      padding: 10px 10px;
      position: relative;
      background: black;
      width: auto;
      z-index: 2;
    }



    body {
      font-family: 'Press Start 2P', monospace;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #282c34;
      color: #050505;
      text-align: center;
    }

    h1, h2 {
      margin: 10px 0;
    }

    .language-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .language-button {
      background-color: #000;
      color: #fbf8f8;
      padding: 15px 30px;
      border: 2px solid #fff;
      border-radius: 5px;
      font-family: 'Press Start 2P', monospace;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .language-button:hover {
      background-color: #fff;
      color: #000;
      transform: scale(1.1);
    }
 
    
    h1 {
      margin-bottom: 30px;
    }

    .level-container {
      display: grid;
      grid-template-columns: repeat(4, 150px);
      gap: 20px;
    }

    .level-button {
      background-color: #000;
      color: #fff;
      padding: 20px;
      border: 2px solid #fff;
      border-radius: 5px;
      font-family: 'Press Start 2P', monospace;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .level-button:hover {
      background-color: #fff;
      color: #000;
      transform: scale(1.1);
    }

    .level-button:disabled {
      background-color: #555;
      color: #aaa;
      cursor: not-allowed;
    }

    
    h1 {
        margin-bottom: 50px;
      }
  
      .button-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
  
      .game-button {
        background-color: #000;
        color: #fff;
        padding: 20px 40px;
        border: 2px solid #fff;
        border-radius: 5px;
        font-family: 'Press Start 2P', monospace;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
      }
  
      .game-button:hover {
        background-color: #fff;
        color: #000;
        transform: scale(1.1);
      }


      
      #interact-prompt {
      position: absolute;
      font-family: 'Press Start 2P', 'Xolonium', monospace;
      font-size: 23px;
      background-color: rgb(243, 183, 134);
      margin: 10px;
      border: 5px solid #825204;
      color: black;
      padding: 5px 10px;
      border-radius: 5px;
      display: none;
      z-index: 10;
      left: 50%;
      top: 10%; /* Adjust this value to move it slightly lower */
      transform: translateX(-50%);
      text-align: center
}

        