<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Character Selection</title>
</head>
<body>
<form>
<h1>Select Character</h1>
  <div class="character-selection">
    <!-- Empty Box 1 -->
    <div class="character" onclick="selectCharacter('1')">
      <img src="../static/images/character1wbackground.png" height="200px" width="200 px">
      <div class="character-name">Character 1</div>
    </div>
    <div class="character" onclick="selectCharacter('2')">
      <img src="../static/images/character2nobackground.png" height="200px" width="200 px">
      <div class="character-name">Character 2</div>
    </div>
    <div class="character" onclick="selectCharacter('3')">
      <img src="../static/images/character3wbackground.jpg" height="200px" width="200 px">
      <div class="character-name">Character 3</div>
    </div>    
  </div>
</form>
  <!-- Generate Character Button -->
  
  <input class="c-checkbox" type="checkbox" id="checkbox">
  <div class="c-formContainer">
    <form class="c-form" action="">
      <input class="c-form__input" placeholder="describe guy" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
      <label class="c-form__buttonLabel" for="checkbox">
        <button class="c-form__button" type="button">Send</button>
      </label>
      <label class="c-form__toggle" for="checkbox" data-title="Generate"></label>
    </form>
  </div> 
</body>
</html>
