<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Language</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css.css" />
  <style>
    .language-button:disabled {
      background-color: #555;
      color: #aaa;
      cursor: not-allowed;
    }
  </style>
</head>
<body>
  <form method="POST">
  <h1>Select Your Language Preferences</h1>
  
  <h2>Language You Are Learning In</h2>
  <div class="language-container">
    <div id="learningIn" name="learningIn" class="language-button" onclick="selectLanguage('English', 'learning-in')">English</div>
    <div id="learning_lang_2" class="language-button" disabled onclick="selectLanguage('Spanish', 'learning-in')">Spanish</div>
    <div id="learning_lang_3" class="language-button" disabled onclick="selectLanguage('French', 'learning-in')">French</div>
    <div id="learning_lang_4" class="language-button" disabled onclick="selectLanguage('German', 'learning-in')">German</div>
    <div id="learning_lang_5" class="language-button" disabled onclick="selectLanguage('Chinese', 'learning-in')">Chinese</div>
    <div id="learning_lang_6" class="language-button" disabled onclick="selectLanguage('Arabic', 'learning-in')">Arabic</div>
  </div>
  
  
  <h1>                         </h1>
  <h1>                         </h1>

  <h2>Language You Are Learning</h2>
  <div class="language-container">
    <div id="lang_1" class="language-button" disabled onclick="selectLanguage('English', 'learning')">English</div>
    <div id="lang_2" class="language-button" disabled onclick="selectLanguage('Spanish', 'learning')">Spanish</div>
    <div id="lang_3" class="language-button" disabled onclick="selectLanguage('French', 'learning')">French</div>
    <div id="lang_4" class="language-button" disabled onclick="selectLanguage('German', 'learning')">German</div>
    <div id="lang_5" class="language-button" disabled onclick="selectLanguage('Chinese', 'learning')">Chinese</div>
    <div id="learning" name="learning" class="language-button" onclick="selectLanguage('Arabic', 'learning')">Arabic</div>
  </div>

  <input type="hidden" id="learningIn" name="learningIn" value="">
  <input type="hidden" id="learning" name="learning" value="">


  <button type="submit" class="pixel2" >Next</button>
</form>
  <script>
  

  function selectLanguage(language, type) {
   
    if (type === 'learning') {
      //document.getElementById('learning') = language;
      document.forms[0].learning.value = language;
    } else {
      document.forms[0].learningIn.value = language;    
    }
    
    console.log(`You selected: ${language} for ${type}`);

  }

  



  
</script>
</body>
</html>
