<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  
  <body>
    <div class="container">
      <h2 class="text-center my-4">Sign Up</h2>
      <form method="POST" action="/register">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          <label for="username">Username</label>
          {{ form.username(class="form-control", placeholder="Enter your username") }}
        </div>
        <div class="mb-3">
          <label for="email">Email</label>
          {{ form.email(class="form-control", placeholder="Enter your email") }}
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          {{ form.password(class="form-control", placeholder="Enter your password") }}
        </div>
        <div class="mb-3">
          <label for="confirm_password">Confirm Password</label>
          {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
        </div>
        <div class="mb-3">
          <label for="age">Age</label>
          {{ form.age(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>    
  </body>   
</html>


<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
        <link rel="stylesheet" href="../static/css.css" /> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      --The next line is new, I intended this for the google sign in
       
    </head>
  
  <body>
    <!-<div><a href="/"><img src="../static/images/classifylogoside.png" alt="ICF Logo" width="350" height="auto"></div></a>-->
    <!--<form class="form-container" method="POST" action="/sign-up">
      <fieldset>
        <legend>Sign Up</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="username">Username</label>
          <div class="col-md-4">
            <input id="username" name="username" type="text" placeholder="username" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-4">
            <input id="email" name="email" type="email" placeholder="Email" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password</label>
          <div class="col-md-4">
            <input id="password" name="password" type="password" placeholder="Password   * Must be at least 6 characters *" class="form-control" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="selectbasic">Age</label>
          <div class="col-md-4">
            <select id="selectbasic" name="selectbasic" class="form-control">
              {% for age in range(1, 101) %}
              <option value="{{ age }}">{{ age }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-4">
            <button id="submit" name="submit" class="button-17">Submit</button>
          </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-4">
              <button id="submit" name="Sign in with google" class="button-17">Sign in with Google</button>
              <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
          </div>
      </fieldset>
    </form> 
  

  </body>   
</html>-->